@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

$font: "Roboto", sans-serif;
$black: #232323;
$grey: #979797;
$grey-faded: rgba(239, 239, 239, 0.5);

html {
	box-sizing: border-box;
	font-size: 16px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

ol,
ul {
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	font-family: $font;
	color: $black;
	height: 100vh;
}

aside,
main {
	height: 100vh;
}

.wrapper {
	display: flex;
}

.aside {
	width: 30%;
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 3rem;
}

.main {
	// Flex and overflow ensure that main is scrollable
	// and aside is fixed
	flex: 1;
	overflow-y: auto;
	background-color: $grey-faded;
	padding: 3rem;
}

.aside-search {
	display: flex;
	align-items: center;
	:first-child {
		margin-right: 0.5rem;
	}
}
.aside-search-input {
	border: none;
	outline: none;
}
.aside-weather-info {
	display: flex;
	flex-direction: column;
}

.aside-weather-info-icon {
	max-width: 120px;
}

.aside-weather-info-value {
	font-size: 6rem;
}
.aside-weather-info-temeprature .temeperature-degrees {
	font-size: 3rem;
	vertical-align: super;
}

.aside-weather-info-day {
	font-size: 1.125rem;
	span {
		color: $grey;
	}
}

.aside-city-info {
	font-weight: 500;
	font-size: 1.125rem;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.toggle {
	--width: 80px;
	--height: calc(var(--width) / 3);
	position: relative;
	display: inline-block;
	width: var(--width);
	height: var(--height);
	border-radius: var(--height);
	cursor: pointer;
}

.toggle input {
	display: none;
}

.toggle .slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: var(--height);
	border: 2px solid #969696;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease-in-out;
}

.toggle .slider::before {
	content: "";
	position: absolute;
	top: 2.5px;
	left: 2px;
	width: calc(var(--height) * 0.6);
	height: calc(var(--height) * 0.6);
	border-radius: calc(var(--height) / 2);
	border: 3px solid #969696;
	background-color: #dbdbdb;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease-in-out;
}

.toggle input:checked + .slider {
	border-color: #969696;
	color: #575757;
}

.toggle input:checked + .slider::before {
	border-color: #969696;
	background-color: #dbdbdb;
	transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
	position: absolute;
	top: 8px;
	left: 0;
	width: 100%;
	height: 100%;
	color: #575757;
	font-size: 12px;
	transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
	content: attr(data-off);
	position: absolute;
	right: 10px;
	top: -2px;
	opacity: 1;
	transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
	content: attr(data-on);
	position: absolute;
	left: 10px;
	top: -2px;
	opacity: 0;
	transition: all 0.4s ease-in-out;
}

.toggle input:checked ~ .labels::after {
	opacity: 0;
}

.toggle input:checked ~ .labels::before {
	opacity: 1;
}

@mixin heading-paragraph {
	font-size: 2rem;
	font-weight: 800;
}

.main-header-paragraph {
	@include heading-paragraph();
}
.main-day-info-paragraph {
	@include heading-paragraph();
	margin-bottom: 2rem;
}

.main-forecast-cards,
.main-day-cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 1rem;
	grid-row-gap: 2rem;
}

.main-forecast-cards {
	margin-bottom: 2rem;
}
.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 0.5rem;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 0.75rem;
	img {
		max-width: 150px;
	}
}

.max-temperature,
.min-temperature {
	vertical-align: top;
	sup {
		vertical-align: top;
		font-size: 0.675rem;
	}
}
.min-temperature {
	color: $grey;
}
.main-day-cards > .card {
	padding: 1.5rem 1rem;
	align-items: start;
	margin-bottom: 2rem;
}

.day-header {
	font-size: 1.25rem;
	color: $grey;
}

.day-wind-value,
.day-humidity-value,
.day-visibility-value {
	font-size: clamp(2rem, 5vw, 4rem);
	.value-metric {
		font-size: 1.125rem;
		margin-left: 0.25rem;
	}
	margin: 2rem 0;
}

.day-wind-direction,
.day-humidity-status,
.day-visibility-status {
	span {
		margin-right: 0.5rem;
	}
	display: flex;
	align-items: center;
	justify-content: center;
}
